@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* { margin: 0; }

body
{
    // Correctly size page for centering
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    // General positioning
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    // Styling
    background: #333;
    color: #eee;
    font-family: 'Quicksand', sans-serif;
}

video
{
    position: absolute;
    inset: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}

iframe
{
    border: none;
    aspect-ratio: 16/9;
}

a
{
    color: currentColor;
    transition: 100ms ease;

    &:hover { opacity: .7 }
    &:active { opacity: .5 }
}

.big { font-size: 6em; }